- ### dictionary
    - ordered
    - mutable
    - heterogeneous (data stored in key value pair)
        - keys are immutable and unique
        - value can be mutable or immutable and can be duplicate and have any type 
    - unindexed (data cannot be accessed using 1,2,...)
    - represented by '{}'
    - 'dict()' that can take key value pair as argument

In [18]:
# creating dictionary
fruits = {
    'apples':2,
    'banana' : 3,
    'orange' : 5
}

In [19]:
grocery = {
    'fruits':['apple','banana','orange','grape'],
    'vegetables': ['carrot', 'lettuce','onion'],
    'dairy': ['milk','cheese','yogurt'],
    'meat': None
}

In [20]:
reports = {
    'rajesh':{
        'English':90,
        'Math': 80,
        'Science':70
    },
    'suresh':{
        'English':80,
        'Math': 70,
        'Science':60
    }
}

In [21]:
print(fruits)
print(grocery)
print(reports)

{'apples': 2, 'banana': 3, 'orange': 5}
{'fruits': ['apple', 'banana', 'orange', 'grape'], 'vegetables': ['carrot', 'lettuce', 'onion'], 'dairy': ['milk', 'cheese', 'yogurt'], 'meat': None}
{'rajesh': {'English': 90, 'Math': 80, 'Science': 70}, 'suresh': {'English': 80, 'Math': 70, 'Science': 60}}

In [22]:
from pprint import pp

In [23]:
print(fruits)
print(grocery)
print(reports)

{'apples': 2, 'banana': 3, 'orange': 5}
{'fruits': ['apple', 'banana', 'orange', 'grape'], 'vegetables': ['carrot', 'lettuce', 'onion'], 'dairy': ['milk', 'cheese', 'yogurt'], 'meat': None}
{'rajesh': {'English': 90, 'Math': 80, 'Science': 70}, 'suresh': {'English': 80, 'Math': 70, 'Science': 60}}

- fetch
- updating
- adding
- deleting

In [24]:
fruits['apples'] # data fetch/retrieve

2

In [25]:
fruits['apples']=10 # updating the new value
pp(fruits)

{'apples': 10, 'banana': 3, 'orange': 5}

In [26]:
fruits['mango']=25 # adding a new key-value pair
pp(fruits)

{'apples': 10, 'banana': 3, 'orange': 5, 'mango': 25}

In [27]:
grocery['spices']=['cumin','turmeric','coriander']
pp(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grape'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'dairy': ['milk', 'cheese', 'yogurt'],
 'meat': None,
 'spices': ['cumin', 'turmeric', 'coriander']}

In [30]:
grocery['fruits'].append('mango')
pp(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grape', 'mango', 'mango'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'dairy': ['milk', 'cheese', 'yogurt'],
 'meat': None,
 'spices': ['cumin', 'turmeric', 'coriander']}

In [33]:
reports['rajesh']['EVS']=99 # adding new key value pair
pp(reports)

{'rajesh': {'English': 90, 'Math': 80, 'Science': 70, 'EVS': 99},
 'suresh': {'English': 80, 'Math': 70, 'Science': 60}}

In [34]:
reports['suresh']['English']=84 #updating value
pp(reports)

{'rajesh': {'English': 90, 'Math': 80, 'Science': 70, 'EVS': 99},
 'suresh': {'English': 84, 'Math': 70, 'Science': 60}}

In [35]:
fruits.pop('banana')#remove key value pair from dictionary

3

In [36]:
reports.pop('rajesh') #remove key value pair from dictionary

{'English': 90, 'Math': 80, 'Science': 70, 'EVS': 99}

In [37]:
reports

{'suresh': {'English': 84, 'Math': 70, 'Science': 60}}

In [38]:
pp(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grape', 'mango', 'mango'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'dairy': ['milk', 'cheese', 'yogurt'],
 'meat': None,
 'spices': ['cumin', 'turmeric', 'coriander']}

In [39]:
grocery['vegetables'].remove('onion') #remove value from list

In [40]:
fruits.keys() #get all key from dictionary
fruits.values() #get all values from dictionary
fruits.items() #get all key-value pairs from dictionary

dict_items([('apples', 10), ('orange', 5), ('mango', 25)])

In [41]:
# traversal

In [42]:
for k,v in fruits.items(): # printing key-value pairs
    print(k,v)

apples 10
orange 5
mango 25

In [43]:
for k,v in reports.items():
    print(k,v)

suresh {'English': 84, 'Math': 70, 'Science': 60}

In [44]:
for k,v in grocery.items():
    print(k,v)

fruits ['apple', 'banana', 'orange', 'grape', 'mango', 'mango']
vegetables ['carrot', 'lettuce']
dairy ['milk', 'cheese', 'yogurt']
meat None
spices ['cumin', 'turmeric', 'coriander']

In [45]:
reports['suresh']['English']

84

In [47]:
reports.get('suresh') #data fetching from dictionary

{'English': 84, 'Math': 70, 'Science': 60}

In [49]:
reports.get('ramesh','ye student kabhi aaya hi nhi')

'ye student kabhi aaya hi nhi'

In [50]:
reports.get('suresh','ye student  kabhi aaya hi nhi')

{'English': 84, 'Math': 70, 'Science': 60}

In [52]:
reports['sunita']={
    'English':90,
    'Math': 80,
    'Science': 70
}

pp(reports)

{'suresh': {'English': 84, 'Math': 70, 'Science': 60},
 'sunita': {'English': 90, 'Math': 80, 'Science': 70}}

In [53]:
for student, details in reports.items():
    print(student)
    for subject, marks in details.items():
        print(f'{marks} in {subject}')
    print('---'*10)

suresh
84 in English
70 in Math
60 in Science
------------------------------
sunita
90 in English
80 in Math
70 in Science
------------------------------

# create a dictionary of 5 employees with details
    - name:str
    - department:str
    - salary:int
    - skills: list
    - projects:dict
        -project_name:str,
        -project_duration:int
        -project_technologies:list

In [54]:
employees = {
    'e1': {
        'name':'Alex',
        'department':'HR',
        'salary':10000,
        'skills': ['communication', 'project management'],
        'projects':{
            'project1':{
                'project_name': 'HRMS',
                'project_duration':6,
                'project_technology':['excel','power bi','powerpoint']
            },
        }
    },
    'e2': {
        'name':'Alice',
        'department':'IT',
        'salary':20000,
        'skills': ['communication', 'project management', 'team building'],
        'projects':{
            'project2':{
                'project_name': 'Information Technology',
                'project_duration':8,
                'project_technology':['excel','power bi','powerpoint','C','SQL']
            },
        }
    },
    'e3': {
        'name':'John',
        'department':'Sales',
        'salary':40000,
        'skills': ['communication','team building'],
        'projects':{
            'project3':{
                'project_name': 'Client management',
                'project_duration':8,
                'project_technology':['excel','power point']
            },
        }
    },
    'e4': {
        'name':'Alex',
        'department':'Business development',
        'salary':10000,
        'skills': ['communication', 'project management', 'team building'],
        'projects':{
            'project3':{
                'project_name': 'BD',
                'project_duration':3,
                'project_technology':['excel','powerpoint']
            },
        }
    },
    'e5': {
        'name':'George',
        'department':'Marketing',
        'salary':50000,
        'skills': ['communication', 'project management', 'team building', 'digital marketing'],
        'projects':{
            'project4':{
                'project_name': 'DM',
                'project_duration':9,
                'project_technology':['excel','power point','adobe']
            }
        }
    }
}
pp(employees)

{'e1': {'name': 'Alex',
        'department': 'HR',
        'salary': 10000,
        'skills': ['communication', 'project management'],
        'projects': {'project1': {'project_name': 'HRMS',
                                  'project_duration': 6,
                                  'project_technology': ['excel',
                                                         'power bi',
                                                         'powerpoint']}}},
 'e2': {'name': 'Alice',
        'department': 'IT',
        'salary': 20000,
        'skills': ['communication', 'project management', 'team building'],
        'projects': {'project2': {'project_name': 'Information Technology',
                                  'project_duration': 8,
                                  'project_technology': ['excel',
                                                         'power bi',
                                                         'powerpoint',
                                                         'C',
                                                         'SQL']}}},
 'e3': {'name': 'John',
        'department': 'Sales',
        'salary': 40000,
        'skills': ['communication', 'team building'],
        'projects': {'project3': {'project_name': 'Client management',
                                  'project_duration': 8,
                                  'project_technology': ['excel',
                                                         'power point']}}},
 'e4': {'name': 'Alex',
        'department': 'Business development',
        'salary': 10000,
        'skills': ['communication', 'project management', 'team building'],
        'projects': {'project3': {'project_name': 'BD',
                                  'project_duration': 3,
                                  'project_technology': ['excel',
                                                         'powerpoint']}}},
 'e5': {'name': 'George',
        'department': 'Marketing',
        'salary': 50000,
        'skills': ['communication',
                   'project management',
                   'team building',
                   'digital marketing'],
        'projects': {'project4': {'project_name': 'DM',
                                  'project_duration': 9,
                                  'project_technology': ['excel',
                                                         'power point',
                                                         'adobe']}}}}